<script>
window.siteSearchPosts = [
  {% for post in site.posts %}
    {
      title: {{ post.title | jsonify }},
      url: {{ post.url | relative_url | jsonify }},
      date: {{ post.date | date: "%Y-%m-%d" | jsonify }},
      category: {{ post.categories | first | jsonify }},
      tags: {{ post.tags | jsonify }},
      content: {{ post.content | strip_html | jsonify }},
      excerpt: {{ post.description | default: post.excerpt | strip_html | truncate: 200 | jsonify }}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
];
</script>
