<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="content-wrapper">
          <div class="main-content">
            {{ content }}
          </div>
          <div class="sidebar-wrapper">
            {%- include sidebar.html -%}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
