<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="content-wrapper">
          <div class="main-content">
            {{ content }}
          </div>
          <div class="sidebar-wrapper">
            {%- include sidebar.html -%}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "pzua58a6u5");
    </script>

  </body>

</html>
